*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-size: 20px;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
}
header, main, footer {
    display: flex;
}
header {
    padding: 20px 20px 30px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.logo img {
    max-width: 200px;
}
.navbar a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}
.navbar a:last-child {
    margin-right: 0;
}
.site-content {
    flex: 1;
}
main {
    justify-content: space-between;
    align-items: stretch;
}
aside {
    text-align: center;
    width: 210px;
    padding-bottom: auto;
}
.aside-left {
    background-color: fuchsia;
    padding-top: 10px;
    order: -1;
}
.aside-right {
    background-color: cornflowerblue;
    padding-top: 10px;
}
.s-info {
    text-align: center;
    padding: 20px 15px;
    width: calc(100% - (210px + 210px));
}
.block-work-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-item {
    display: flex;
    flex-direction: column;
    width: 32%;
    border: 2px solid #999;
    border-radius: 25px;
    align-items: stretch;
    justify-content: center;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.work-item img {
    width: 100px;
    height: 100px;
    border: 10px solid mediumpurple;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
.work-item button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 70px;
    border-radius: 30px;
    height: 35px;
    padding: 3px 5px;
    background-color: rebeccapurple;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
}
footer {
    flex-direction: column;
    background-color: darkseagreen;
    align-items: center;
    padding: 10px;
}
.holder {
    font-weight: bold;
    width: 500px;
    height: 100px;
    border: 3px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto;
}
.holder .item {
    padding: 10px;
}
.holder .item:nth-child(1) {
    background-color: red;
    width: 50%;
    order: -3;
}
.holder .item:nth-child(2) {
    background-color: blue;
    width: 33.3%;
}
.holder .item:nth-child(3) {
    background-color: purple;
    width: 33.3%;
    order: -1;
}
.holder .item:nth-child(4) {
    background-color: green;
    width: calc(100% - 66.6%)
}
.holder .item:nth-child(5) {
    background-color: orange;
    width: 50%;
    order: -2;
}
